@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;0,600;1,300&display=swap');

* {
    padding:0;
    margin:0;
    box-sizing:border-box;
    font-family:'Poppins', sans-serif;
}

body {
    background:linear-gradient(90deg, #a2dfff 30%, #a2a);
    display:flex;
    flex-direction:column;
    height:100vh;
    gap:20px;
}

.container {
    display:flex;
    justify-content:center;
    align-items:center;
    margin:auto 20px;
    gap:30px;
}

.main-temporizador {
    display:flex;
    flex-direction:column;
    height:auto;
    width: auto;
    background-color: #fff;
    border-radius: 30px;
    padding:30px;
}

/* Section Temporizador Inicio */
.temporizador {
    display:flex;
    
    margin:auto;
    font-weight:500;
    font-size:25px;
}

.dois {
    padding-top:20px;
}

.span {
    font-weight:300;
    font-style:italic;
    font-size:15px;
    margin-top:15px;
}
p {
    color:#f00;
    font-size:15px;
    margin-left:15px;
}

input {
    font-size:30px;
    height:40px;
    width:45px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin:0;
}
/* ############################################## */

/* Section Botão Inicio */

.botoes {
    margin:20px 0;
    display:flex;
    gap:10px;
}
.pausar-btn1, .pausar-btn2 {
    display:none; /*Até eu conseguir arrumar o botão*/
}
.iniciar-btn, .reiniciar-btn, .pausar-btn1, .pausar-btn2 {
    font-weight:600;
    font-size:18px;
    height:55px;
    width:180px;
    border-radius:10px;
    border:2px solid #a2a;
    background-color:#a2dfff;
    color:#a2a;
    cursor:pointer;
}
.pausar-btn2 {
    display:none;
}
.meuAudio {
    display:none;
}
.volume-alarme {
    display: flex;
    align-items: center;
    gap: 10px;
}

/* ######################################### */

/* Section Tempo Inicio */
/* ######################################### */

/* IMG Gif */
img {
    width:100%;
}

@media (max-width:1200px) {
    img {
        height:100%;
    }
}

@media (max-width:1000px) {
    .container {
        flex-direction:column;
    }
    .gif-container {
        width:95%;
    }
}

@media (max-width:630px) {
    .main-temporizador {
        width:70%;
        margin-top:20px;
    }
    .botoes {
        display:flex;
        flex-direction:column;
        align-items:center;
    }
    .iniciar-btn, .parar-btn {
        margin:5px 0;
    }
    .temporizador {
        flex-direction:column;
        text-align:center;
    }
    .ajuste {
        margin:auto;
    }
    .span {
        font-size:12px;
    }
    .volume-alarme {
        justify-content:center;
    }
    .contador1, .contador2 {
        text-align:center;
    }
}

@media (max-width:435px) {
    .main-temporizador {
        width:90%;
    }
    .temporizador {
        font-size:20px;
        text-align:center;
    }
    .contador1, .contador2 {
        text-align:center;
    }
    .volume-alarme {
        flex-direction:column;
        gap:0;
        margin:20px 0;
    }
}
